*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
}

.container{
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    background-color: hsl(244, 38%, 16%);
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.wrapper .img{
    position: relative;
    display: flex;
    object-fit: cover;
    /*opacity: 0.5;
    //background-color: ;*/
    filter: opacity(0.5) drop-shadow(0 0 0 hsl(277, 64%, 61%));
}


.text{ 
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.title{
   padding-bottom: 1em;
    color: white;
}

.title span{
    color: hsl(277, 64%, 61%);
}

.descritption{
    color: rgba(255, 255, 255, 0.623);
    font-size: 1.125rem;
}

.box{
    width: 100%;
    color: rgba(255, 255, 255, 0.623);
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-top: 3em;
    font-size: 1.125rem;
}

.dig{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

@media only screen and (max-width: 425px) {
    body{
        text-align: center;
        margin-top: 8%;
        margin-bottom: 8%;
        
    }
    .wrapper{
        flex-direction: column;
        width: 40vh;
    }
   .text{
    padding: 2em;
   }
   .box{
    flex-direction: column;
   }
   .img{
    order: -1;
   }

}